<div class="container">
	<div class="card recover-card">
		<div class="login-logo">
			<img src="assets/quicare-logo.png" alt="QuiCare logo" style="max-width: 320px; width: 100%; height: auto;" />
		</div>
		<form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
			<input
				type="email"
				class="recover-input"
				formControlName="email"
				[placeholder]="t('passwordRecover.placeholder.email')"
				autocomplete="email" />
			<div class="recover-hint text-light">{{ t('passwordRecover.hint.email') }}</div>
			<div class="recover-btns">
				<button type="button" class="btn btn-outline" routerLink="/login">{{ t('passwordRecover.action.cancel') }}</button>
				<button type="submit" class="btn btn-primary" [disabled]="isSubmitting">{{ t('passwordRecover.action.submit') }}</button>
			</div>
		</form>
		<p class="info" *ngIf="infoMessage">{{ infoMessage }}</p>
		<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
		<div class="recover-desc text-dark">
			{{ t('passwordRecover.text.description') }}
		</div>
	</div>
</div>