<div class="container">
  <div class="card login-card">
    <div class="login-logo">
      <img src="assets/quicare-logo.png" alt="QuiCare logo" style="max-width: 320px; width: 100%; height: auto;" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="username">{{ t('login.label.username') }}</label>
      <input id="username" type="text" formControlName="username" autocomplete="username" />

      <label for="password">{{ t('login.label.password') }}</label>

      <input id="password" type="password" formControlName="password" autocomplete="current-password" />

      <div class="login-link-recover">
        <a routerLink="/passwordrecover" class="link-recover">Problemi di accesso?</a>
      </div>

      <div class="login-btn-center">
        <button class="btn btn-primary" type="submit">{{ t('login.action.submit') }}</button>
      </div>
    </form>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <div class="text-desc">
      Inserisci le credenziali per accedere al sistema
    </div>
  </div>
</div>
